/.bash_history/
/.bash_logout/
/.bash_profile/
/.cache/
/.cargo/
/.local/src/
/.local/share/
/.local/lib/
/.local/state/
/.codetogether/
/.ctsystem/
/Desktop/
/Documents/
/.dotfiles/
/Downloads/
/.eclipse/
/.fehbg/
/.gitconfig/
/.gnupg/
/go/
/uni/
/.java/
/.mozilla/
/Music/
/.npm/
/Pictures/
/.pki/
/Projects/
/Public/
/.ssh/
/.swt/
/Templates/
/Videos/
/.viminfo/
/.webclipse/
/.wget-hsts/
/wireshark_PR06/

## .config

/.config/dconf/
/.config/discord/
/.config/eduvpn/
/.config/Electron/
/.config/flameshot/
/.config/GIMP/
/.config/.git/
/.config/.gitignore/
/.config/gnome-session/
/.config/go/
/.config/.gsd-keyboard.settings-ported/
/.config/gtk-3.0/
/.config/gtk-4.0/
/.config/ibus/
/.config/jgit/
/.config/nautilus/
/.config/picom/
/.config/pulse/
/.config/systemd/
/.config/user-dirs.dirs/
/.config/user-dirs.locale/
/.config/waypaper/
/.config/wireshark/
/.config/yay/


